<ActivityIndicator [busy]="isLoading"></ActivityIndicator>
<StackLayout *ngIf="!isLoading">
    <FlexboxLayout flexDirection="row" justifyContent="flex-end">
        <Button [nsRouterLink]="['add']" text="Add new reservations"></Button>
    </FlexboxLayout>

    <StackLayout>
        <Label text="List of reservations: "></Label>

        <ScrollView orientation="vertical" style="height: 1250px;">
            <ListView class="list-group" [items]="reservations">
                <ng-template let-reservation="item">
                    <StackLayout>
                        <FlexboxLayout flexDirection="row" justifyContent="space-between" class="list-group-item" [class.active]="reservation.isActive() && !reservation.isDone">

                            <Label textWrap="true" [text]="reservation.formattedDateStart + ' - ' + reservation.formattedDateEnd"></Label>
                            <Label [text]="'Room number: ' + reservation.roomNumber"></Label>

                        </FlexboxLayout>
                        <Button textWrap="false" text="Check-In" (tap)="checkIn(reservation)" *ngIf="canCheckIn(reservation)"></Button>
                    </StackLayout>
                </ng-template>
            </ListView>
        </ScrollView>
    </StackLayout>

</StackLayout>
