<FlexboxLayout flexDirection="column">
    <StackLayout flexGrow="1" height="90%">
        <ScrollView orientation="vertical">
            <StackLayout class="m-15">
                <StackLayout>
                    <Label text="Choose floor"></Label>
                    <ListPicker [items]="floors" [(ngModel)]="reservation.floor" required #floor="ngModel"></ListPicker>
                </StackLayout>

                <!--<StackLayout>-->
                <!--<Label text="Wybierz standard"></Label>-->
                <!--<ListPicker [items]="standards" [(ngModel)]="reservation.standard"></ListPicker>-->
                <!--</StackLayout>-->

                <StackLayout>
                    <Label text="Check-in date"></Label>
                    <DatePicker [(ngModel)]="reservation.dateStart" minDate="1970-01-01" maxDate="2100-12-31" #startDate="ngModel" required></DatePicker>
                </StackLayout>

                <StackLayout>
                    <Label text="Check-out date"></Label>
                    <DatePicker [(ngModel)]="reservation.dateEnd" minDate="1970-01-01" maxDate="2100-12-31" #endDate="ngModel" required></DatePicker>
                </StackLayout>

                <StackLayout>
                    <Label text="{{'Beds: ' + reservation.bedNo }}"></Label>
                    <Slider minValue="1" maxValue="5" value="1" [(ngModel)]="reservation.bedNo"
                            #bedNo="ngModel"
                            required></Slider>
                </StackLayout>

                <TextField height="100" [(ngModel)]="reservation.reservationDetails" hint="Comment"></TextField>

                <ActivityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
            </StackLayout>
        </ScrollView>
    </StackLayout>

    <FlexboxLayout height="10%" flexDirection="row" justifyContent="space-between">
        <Button [nsRouterLink]="['..']" text="Back to list"></Button>
        <Button [attr.isEnabled]="floor.valid && startDate.valid && endDate.valid && bedNo.valid" text="Make reservation" class="btn-primary" (tap)="submit()"></Button>
    </FlexboxLayout>

</FlexboxLayout>
