<ActionBar [hidden]="true"></ActionBar>
<Page>
    <FlexboxLayout class="page">
        <StackLayout class="form" verticalAlignment="center">
            <Label class="header" text="AI/2 Hotel"></Label>
            <Label text="Log in"></Label>

            <PreviousNextView>

                <StackLayout>
                    <TextField width="450" keyboardType="email"
                               autocorrect="false"
                               autocapitalizationType="none"
                               returnKeyType="next"
                               hint="E-mail"
                               [(ngModel)]="user.username" required email #email="ngModel"></TextField>

                    <StackLayout class="form-errors" *ngIf="email.errors && (email.dirty || email.touched)">
                        <Label *ngIf="email.errors.required" text="An email is required"></Label>
                        <Label *ngIf="email.errors.email" text="Email must be valid"></Label>
                    </StackLayout>
                </StackLayout>

                <StackLayout>
                    <TextField hint="Password" secure="true" type="password"
                               [(ngModel)]="user.password" required #password="ngModel"></TextField>

                    <StackLayout *ngIf="password.errors && (password.dirty || password.touched)" class="form-errors">
                        <Label *ngIf="password.errors.required" text="A password is required"></Label>
                    </StackLayout>
                </StackLayout>

                <StackLayout>
                    <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
                    <Label class="form-errors" *ngIf="error" [text]="error"></Label>
                </StackLayout>

                <Button [attr.isEnabled]="(password.valid && email.valid)" (tap)="submit()" text="Log in" class="btn btn-primary"></Button>
            </PreviousNextView>

        </StackLayout>
    </FlexboxLayout>

</Page>
