.page {
    align-items: center;
    flex-direction: column;
}

.header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 5;
    text-align: center;
    color: #D51A1A;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.form-errors {
    color: #D51A1A;
}
