<FlexboxLayout height="100%" flexDirection="column" alignItems="center">
    <Label class="main-header" *ngIf="user" [text]="'Welcome, ' + user.email" flexGrow="1"></Label>
    <Label text="Swipe right to see menu"></Label>
</FlexboxLayout>
