<ActionBar title="AI/2 Hotel" class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
</ActionBar>

<Page>
    <RadSideDrawer [drawerTransition]="sideDrawerTransition" #sideDrawer>
        <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
            <StackLayout row="0" class="sidedrawer-header">
                <Label class="sidedrawer-header-image fa" text=""></Label>
                <Label class="sidedrawer-header-brand" text=""></Label>

                <Label class="footnote" *ngIf="user" [text]="user.email"></Label>
            </StackLayout>

            <ScrollView row="1">
                <StackLayout class="sidedrawer-content">
                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/dashboard')" (tap)="onNavItemTap('/dashboard')">
                        <Label col="0" text="&#xf015;" class="fa"></Label>
                        <Label col="1" text="Home" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/reservations')" (tap)="onNavItemTap('/reservations')">
                        <Label col="0" text="&#xf1ea;" class="fa"></Label>
                        <Label col="1" text="Reservations" class="p-r-10"></Label>
                    </GridLayout>

                    <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/reservation')" (tap)="onNavItemTap('/reservation')">
                        <Label col="0" text="&#xf002;" class="fa"></Label>
                        <Label col="1" text="Active reservation" class="p-r-10"></Label>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
        </GridLayout>

        <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
    </RadSideDrawer>
</Page>
