<ActivityIndicator [busy]="isLoading"></ActivityIndicator>
<StackLayout *ngIf="!isLoading">
    <Label [text]="activeReservation ? 'Active reservation' : 'No active reservation'"></Label>

    <StackLayout *ngIf="activeReservation">
        <StackLayout>
            <Label text="Token: "></Label>
            <Label [text]="activeReservation.token"></Label>
        </StackLayout>

        <StackLayout>
            <Label text="Checked in: "></Label>
            <Label [text]="activeReservation.formattedCheckinDate"></Label>
        </StackLayout>

        <StackLayout>
            <Label text="Reservation ends: "></Label>
            <Label [text]="activeReservation.formattedDateEnd"></Label>
        </StackLayout>

        <StackLayout>
            <Button text="Check out" (tap)="checkOut()"></Button>
        </StackLayout>
    </StackLayout>
</StackLayout>
